/* reset.css */ 

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* custom styles */

html{
    min-height:auto;
    background-attachment: fixed;
    min-width: clamp(320px, 100vw, 3840px);
    background-image: url(Assets/background.svg);
    background-repeat: no-repeat;
    background-size:cover; 
    background-blend-mode: multiply;
    background-color: rgba(0,0,0,0.5);
}
body{
    width: 75vw;
    height: 95vh;
    margin: 3vh 0 2vh 12.5%;
    color: #d1d1d1;
    background-color: unset;
    font-size: clamp(1rem, 2.25vw, 1.5rem); 
}
@media (max-width: 600px) {
    body{
        width:98vw;
    margin: 3vh 1vw 2vh 1vw;
    }

    footer{
        margin:0 !important;
    }
}


ul,a {
    list-style: none;
    text-decoration: none;
}


a:visited,a{color:unset;}

.k {
    background-image:  url(Assets/whiteK.svg);
    background-repeat: no-repeat;
    animation: rotationk 3s infinite linear;
    transform-origin: left;
    z-index: 10;
}
.d {
    background-image:  url(Assets/whiteD.svg);
    background-repeat: no-repeat;

    animation: rotationd 3s infinite linear;
    transform-origin: left;
    z-index: 10;
}


.navContainer {
    position: relative;
    size:inherit;
    min-width: 80%;
    max-width: 80%;
    margin-left:20%;
    display: flex;
    justify-content: end;
    align-items: center;
}

@keyframes rotationk {
    from {
        transform: rotateY(0deg);
        opacity: 1;
    }
    
    50%{
        opacity: .1;

    }
    75%{
        opacity: 0;
    }

    to {
        transform: rotateY(360deg);
        opacity: 1;
    }
    
}



@keyframes rotationd {
    from {
        opacity: 0;

        transform: rotateY(-90deg);
    }
    25%{
        opacity: 1;

    }

    75%{
        opacity: .1;
    }

    to {
        opacity: 0;
        transform: rotateY(270deg);
    }

}

